Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/FirstLevel.umap
Content/Maps/FirstLevel_BuiltData.uasset
Content/SoulCity
/Build